.title{
    font-size: xx-large;
    width: 100% ;
    text-align: center;
}
h3{
    font-size: larger !important;
    font-weight: bold !important;
    margin: 10px !important;
}
input{
    width:90% !important;
}
.current{
    display:flex;
    justify-content: space-between;
    padding-right: 10px;
}
.current input{
    width: 50% !important;
}
.current label{
    font-weight: bold;
}